In [21]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager
import json
import numpy as np
import pandas as pd

# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)


url = "https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html"
browser.visit(url)

# Parse the HTML
html = browser.html
html_soup = soup(html, 'html.parser')
heads = list(html_soup.find("tr"))
rows = html_soup.find_all("tr", class_="data-row")

browser.quit()

while '\n' in heads:
    heads.remove('\n')

heads = list(map(lambda heading: heading.text, heads))
mars_data = []
for row in rows:
    row_list = list(row)
    row_dict = {}
    
    while '\n' in row_list:
        row_list.remove('\n')
    
    row_list = list(map(lambda datum: datum.text.strip(), row_list))
    mars_data.append([int(row_list[0]),
                      row_list[1],
                      int(row_list[2]),
                      int(row_list[3]),
                      int(row_list[4]),
                      float(row_list[5]),
                      float(row_list[6])])

mars_df = pd.DataFrame(mars_data, columns=heads)
mars_df.to_csv("mars_weather.csv", index=None)

   id terrestrial_date  sol   ls  month  min_temp  pressure
0   2       2012-08-16   10  155      6     -75.0     739.0
1  13       2012-08-17   11  156      6     -76.0     740.0
2  24       2012-08-18   12  156      6     -76.0     741.0
3  35       2012-08-19   13  157      6     -74.0     732.0
4  46       2012-08-20   14  157      6     -74.0     740.0